body {
  background-color: #f6f6f6;
  margin-left: 22rem;
  margin-right: 27rem;
}
header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
}
#search-input {
  border: none;
  padding: 3px 8px;
  width: 200px;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  background-color: rgb(255, 255, 255);
}
#episode-search {
  margin-left: 20px;
}

#NumsOfEpisodes {
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
  color: black;
  margin-left: 8px;
  padding: 2px 10px;
  border: none;
}

#episodes-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 30px;
}
.episodeCard {
  width: 300px;
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
  padding: 0 15px 15px 15px;
}
.title {
  border: 1px solid;
  padding: 10px 20px;
  border-radius: 15px;
}
