body {
  display: flex;
  justify-content: center;
  align-items: center;
}
#root {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: black;
  width: 80%;
  background-color: rgb(244, 244, 246);
  box-shadow: 0px 0px 1px 2px rgb(88, 88, 88);
  text-align: center;
}
.episode-card {
  box-shadow: 0px 0px 0px 1px rgb(171, 171, 171);
  padding: 20px;
}
