:root {
  --box-shadow-grey: rgba(0, 0, 0, 0.1);
  --background-white: rgb(255, 255, 255);
}

body {
  background-color: var(--background-white);
  margin-left: 22rem;
  margin-right: 27rem;
}
header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
  gap: 20px;
}

#show-filter-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#search-term-input {
  border: none;
  padding: 3px 8px;
  width: 200px;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  background-color: var(--background-white);
}
#episode-search {
  margin-left: 20px;
  margin-right: 20px;
}

#numbers-of-episodes {
  box-shadow: 1px 1px 1px 2px var(--box-shadow-grey);
  color: black;
  margin-left: 8px;
  padding: 2px 10px;
  border: none;
}

#root {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.episode-card {
  box-shadow: 1px 1px 1px 2px var(--box-shadow-grey);
  text-align: center;
  padding: 10px;
}
