* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --box-shadow-grey: rgba(0, 0, 0, 0.1);
  --background-white: rgb(255, 255, 255);
  --show-name-gold: rgb(151, 130, 99);
  --poster-background-grey: rgba(128, 128, 128, 0.4);
  --header-background-color: rgb(47, 70, 80);
  --header-font-color: white;
  --header-font-size: 18px;
  --header-component-height: 50px;
}

body {
  background-color: var(--background-white);
  display: flex;
  justify-content: center;
}

header {
  position: fixed;
  background-color: var(--header-background-color);
  width: 99%;
  height: 150px;
  padding: 15px;
  color: var(--header-font-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

#show-controls {
  border: 1px solid white;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#episode-controls {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  gap: 20px;
  width: 100%;
}

#show-filter-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#show-filter {
  border: 1px solid;
  border-radius: 25px;
  font-size: var(--header-font-size);
  font-weight: bold;
  width: 350px;
  height: var(--header-component-height);
  padding-left: 10px;
}

#show-selector {
  border: 1px solid;
  padding-left: 10px;
  height: var(--header-component-height);
  font-size: var(--header-font-size);
}

#search-term-input {
  border: 1px solid white;
  border-radius: 25px;
  padding-left: 10px;
  width: 250px;
  height: var(--header-component-height);
  font-size: var(--header-font-size);
  font-weight: bold;
  outline: none;
}

#numbers-of-episodes {
  box-shadow: 1px 1px 1px 2px var(--box-shadow-grey);
  border: none;
}

#root {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.info-card {
  box-shadow: 1px 1px 1px 2px var(--box-shadow-grey);
  text-align: center;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
}

#show-summary {
  height: 180px;
  overflow: scroll;
  scrollbar-width: none;
  background-color: var(--search-box-background);
  border-radius: 5px;
  position: relative;
  top: 8px;
}

.show-poster {
  padding: 5px;
  padding-bottom: 15px;
  border-radius: 5px;
}

.show-poster:hover {
  color: var(--show-name-gold);
  background-color: var(--poster-background-grey);
  cursor: pointer;
}

#episode-match {
  display: flex;
  flex-direction: row;
}
